@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;
  --brand-primary: #6366f1;
  --brand-secondary: #a855f7;
  --brand-accent: #ec4899;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);
  --color-brand-accent: var(--brand-accent);
  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
}

/* Custom Scrollbar for a premium look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}